
body {   
    background-color: rgba(99, 99, 103, 0.333);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  .login-container { 
    background-color: #005592;   
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(118, 103, 103, 0.944);
    width: 700px;
    height: 500px;
    text-align: center;
  }
  
  /* Login Logo Styles */
  .login-logo {
    margin-bottom: 20px;
  }
  
  .login-logo img {
    width: 150px;
    height: auto;
  }
  
  /* Login Title Styles */
  .login-container h1{
    color: #fff;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .login-container h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 100;
  }
  
  /* Login Form Styles */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Login Button Styles */
  button {    
    background-color: #F9B414;
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-button:hover {
    background-color: #333e9e;
  }
  .login-logo {
    width: 150px;
    height: 50px;
    background-color: #3f51b5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .login-logo img {
    display: none;
  }
  